@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');*



{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:  url('bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  position: relative;
  font-size: 60px;
  color: whitesmoke;
  text-transform: capitalize;
}


h2{
  position: relative;
  font-size: 60px;
  color: black9;
  -webkit-text-stroke: 0.5px #329d52;
  text-transform: capitalize;
}

h2::before
{
  content:attr(data-text);
  position: absolute;
  top:0;
  left:0;
  width: 0;
  height: 100%;
  color: #01fe87;
  -webkit-text-stroke: 0vw  #252839;
  border-right: 2px solid #01fe87 ;
  overflow: hidden;
  animation: animate 4.5s linear infinite;
}

h2::after{
  content: '';
  height: 3px;
  width: 0;
  background:  #01fe87;
  position: absolute;
  left:0;
  bottom: -10px;
}

h2:hover::after{
  width : 100%;
  transition: 0.5s; 
}

@keyframes animate {
  0%,20%,100%
  {
    width: 0;
  }
  70%,90%
  {
    width: 100%;
  }
}

.avatar {
  position: absolute;
  top: 50px ;
  left: 620px;
  bottom: 100px;
  height : 200px;
  width: 170px ;
  border-radius: 50%;
}

.circle1 {
  position: fixed;
  bottom: 500px ;
  right: 1200px;
  height: 250px;
  width: 250px;
  background-color: #01fe87;
  border-radius: 50%;
}

.circle2 {
  position: fixed;
  bottom: 500px ;
  left: 1200px;
  height: 250px;
  width: 250px;
  background-color: #01fe87;
  border-radius: 50%;
}

.hh66Heading {
  font-size: 40px;
  color: white;
  letter-spacing: .3px;
  font-weight: bold;
  -webkit-font-smoothing: auto;
  margin: 0;
  position: fixed;
  bottom: 100px ;
  left: 200px;
}

.slider{
  font-size: 40px;
   color: cyan;
   margin-left: 12px;
   box-sizing: border-box;
   animation: slider 6s linear infinite;
}

@keyframes slider {
  0% {margin-top: -200px;}
  30% {margin-top: -200px;}
  35% {margin-top: 0px;}
  65% {margin-top: 0px;}
  70% {margin-top: 200px;}
  100% {margin-top: 200px;}
}


