@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');*


{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
}

h1{
  position: relative;
  font-size: 60px;
  color: whitesmoke;
  text-transform: capitalize;
}


h2{
  position: relative;
  font-size: 60px;
  color: black9;
  -webkit-text-stroke: 0.5px #329d52;
  text-transform: capitalize;
}

h2::before
{
  content:attr(data-text);
  position: absolute;
  top:0;
  left:0;
  width: 0;
  height: 100%;
  color: #01fe87;
  -webkit-text-stroke: 0vw  #252839;
  border-right: 2px solid #01fe87 ;
  overflow: hidden;
  animation: animate 4.5s linear infinite;
}

@keyframes animate {
  0%,20%,100%
  {
    width: 0;
  }
  70%,90%
  {
    width: 100%;
  }
}

.avatar {
  position: absolute;
  top: 50px ;
  left: 620px;
  bottom: 100px;
  height : 200px;
  width: 170px ;
  border-radius: 50%;
}