@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:  url('bgg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  position: absolute;
  font-size: 60px;
  color: whitesmoke;
  text-transform: capitalize;
}


h2{
  position: absolute;
  font-size: 60px;
  color: black9;
  -webkit-text-stroke: 0.5px #329d52;
  text-transform: capitalize;
}

h2::before
{
  content:attr(data-text);
  position: absolute;
  top:0;
  left:0;
  width: 0;
  height: 100%;
  color: #01fe87;
  -webkit-text-stroke: 0vw  #252839;
  border-right: 2px solid #01fe87 ;
  overflow: hidden;
  animation: animate 4.5s linear infinite;
}

h2::after{
  content: '';
  height: 3px;
  width: 0;
  background:  #01fe87;
  position: absolute;
  left:0;
  bottom: -10px;
}

h2:hover::after{
  width : 100%;
  transition: 0.5s; 
}

@keyframes animate {
  0%,20%,100%
  {
    width: 0;
  }
  70%,90%
  {
    width: 100%;
  }
}


.avatar {
  position: absolute;
  top: 10% ;
  left: 45%;
  height : 200px;
  width: 170px ;
  border-radius: 25%;
}

.animated-text{
  color: #ac07ff;
  position: absolute;
  top: 65%;
  left: 52%;
  transform: translate(-50%,-50%);
  background: none;
  padding: 0 40px;
  height: 60px;
  overflow: hidden;
}

.line{
  text-align:left;
  font-size: 40px;
  line-height: 60px;    
}

.line:first-child{
  animation: anim 12s infinite;
}

@keyframes anim {
  0%{
    margin-top: 0px;
  }
  16%{
    margin-top: -60px;
  }
  33%{
    margin-top: -120px;
  }
  50%{
    margin-top: -180px;
  }
  66%{
    margin-top: -120px;
  }
  82%{
    margin-top: -60px;
  }
  100%{
    margin-top: 0px;
  }
}

.div1{
  color: white;
  position: absolute;
  top: 60%;
  left: 30%;
  font-size: 40px;
}

.aboutme{
  font-size: 20px;
  color: #01fe87;
  position: absolute;
  top:78%;
  left: 3%;
  padding: 0 10px;
}

.aboutcontent{
font-size: 15px;
text-align:start;
color: azure;
position: absolute;
top: 550px;
left: 5%;
}

.eh{
  font-size: 20px;
  color: #01fe87;
  position: absolute;
  top:650px;
  left: 3%;
  padding: 0 10px;
}

.table{
  width:40%;
  /* height: 080px; */
  border:1px solid #ac07ff;
  /* border-spacing: 1px ; */
  text-align: left;
  padding: 8px;
  position: absolute;
  left:5%;
  top:700px;
}


.int{
  font-size: 20px;
  color: #01fe87;
  position: absolute;
  top: 880px;
  left: 3%;
  padding: 0 10px;
}

.ul1{
  list-style: circle; /* Remove default bullets */
  font-size: 16px;
  color: white;
  position: absolute;
  top: 920px;
  left: 6%;
  padding: 0 10px;
}

.pd{
  font-size: 20px;
  color: #01fe87;
  position: absolute;
  top: 1060px;
  left: 3%;
  padding: 0 10px;
}

.ul2{
  list-style: circle; /* Remove default bullets */
  font-size: 16px;
  color: white;
  position: absolute;
  top: 1100px;
  left: 6%;
  padding: 0 10px;
}

.ie{
  font-size: 20px;
  color: #01fe87;
  position: absolute;
  top: 1200px;
  left: 3%;
  padding: 0 10px;
}

.ul3{
  list-style: circle; /* Remove default bullets */
  font-size: 16px;
  color: white;
  position: absolute;
  top: 1240px;
  left: 6%;
  padding: 0 10px;
}

.cc{
  font-size: 20px;
  color: #01fe87;
  position: absolute;
  top: 1330px;
  left: 3%;
  padding: 0 10px;
}

.ul4{
  list-style: circle; /* Remove default bullets */
  font-size: 16px;
  color: white;
  position: absolute;
  top: 1360px;
  left: 6%;
  padding: 0 10px;
}

.hover-underline-animation {
  display: inline-block;
  color: #01fe87;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ac07ff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.pdd{
  font-size: 20px;
  color: #01fe87;
  position: absolute;
  top: 1430px;
  left: 3%;
  padding: 0 10px;
}

.per{
  color: #ac07ff;
  font-size: 16px;
}

.dob{
  position: absolute;
  top: 1470px;
  left: 5%;
  padding: 0 10px;
}

.gen{
  position: absolute;
  top: 1470px;
  left: 30%;
  padding: 0 10px;
}

.lang{
  position: absolute;
  top: 1500px;
  left: 5%;
  padding: 0 10px;
}

.dobb{
  position: absolute;
  top: 1470px;
  color: white;
  left: 8.5%;
  padding: 0 10px;
}

.genn{
  position: absolute;
  top: 1470px;
  color: white;
  left: 35%;
  padding: 0 10px;
}

.langg{
  position: absolute;
  top: 1500px;
  color: white;
  left: 17.5%;
  padding: 0 10px;
}



.striped-border { 
  border: 2px dashed #ac07ff; 
  width: 50%; 
  margin: auto; 
  margin-top: 5%; 
  margin-bottom: 5%; 
  position: absolute;
  top: 1500px;
}

.git{
  position: absolute;
  top: 1590px;
  left: 33%;
  padding: 0 10px;
}

.twitter{
  position: absolute;
  top: 1593px;
  left: 45%;
  padding: 0 10px;
}

.linkedin{
  position: absolute;
  top: 1593px;
  left: 58%;
  padding: 0 10px;
}

.colch{
  font-size:20px;
  color: #01fe87;
  }

.colch:hover {
  color: #ac07ff;
  }

  .git1{
    position: absolute;
    top: 15px;
    left: 75%;
    padding: 0 10px;
  }

  .twitter1{
    position: absolute;
    top: 11px;
    left: 78%;
    padding: 0 10px;
  }

  .linkedin1{
    position: absolute;
    top: 10px;
    left: 75%;
    padding: 0 10px;
  }